# Created by http://gitignore.io

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Custom ###
gen

# TODO: Figure out how to get these files in the gen/ folder instead
src/us/hexcoder/asm6502/lexer/Asm6502Lexer.java
src/us/hexcoder/asm6502/lexer/Asm6502LexerAdapter.java
